# 기본 자료구조

- tuple
- list
- set
- dictionary

여러 데이터를 묶는 것

### 1. tuple

In [2]:
a = (3, 5)
type(a)

tuple

In [8]:
a = tuple([3,5])
type(a)

tuple

In [16]:
a[0] = 7

TypeError: 'tuple' object does not support item assignment

In [18]:
print(dir(a))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

### 형변환

In [3]:
num = 1
type(num)

int

In [7]:
str(num) + 'hello world'
float(num)
int(num)

1

### 2. 리스트

In [20]:
lst = [3, 5, 7, 9]

In [22]:
print(dir(lst))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

### 슬라이싱

In [24]:
lst[::-1]

[9, 7, 5, 3]

### 함수

### len

In [29]:
print(lst, "길이", len(lst))

[3, 5, 7, 9] 길이 4

### append

In [31]:
lst.append(9)

### clear

In [45]:
lst = [1,3,5,7,9,9]

In [46]:
lst.append(10)

In [49]:
lst.append(-1)

In [51]:
print(dir(lst))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

### sort

In [52]:
lst.sort()

In [56]:
lst[::-1]

[10, 9, 9, 7, 5, 3, 1, -1]

In [58]:
%whos

Variable   Type     Data/Info
-----------------------------
a          tuple    n=2
lst        list     n=8
num        int      1
string     str      hello

In [59]:
lst2 = [1,2,3]

In [63]:
lst + 3

TypeError: can only concatenate list (not "int") to list

[문제1] 리스트 조인

['Life', 'is', 'too', 'short'] 라는 리스트를 Life is too short라는 문자열로 만들어 출력해 보자.

(힌트. 문자열의 join 함수를 이용해 보자.)

In [69]:
lst = ["Life", "is", "too", "short"]

In [71]:
' '.join(lst)

'Life is too short'

[문제2] 리스트 정렬

[1, 3, 5, 4, 2]라는 리스트를 [5, 4, 3, 2, 1]로 만들어보자.

(힌트. 리스트의 내장함수인 sort와 reverse를 활용해 보자.)

In [72]:
lst = [1,3,5,4,2]
lst.sort()

In [75]:
lst.sort(reverse=True)

In [76]:
lst

[5, 4, 3, 2, 1]

### mutable, immutable

http://www.pythontutor.com/visualize.html#mode=display

### mutable

In [85]:
b = [1, 3, 5, 7]
a = b

In [86]:
a.append(5)

In [87]:
a

[1, 3, 5, 7, 5]

In [88]:
b

[1, 3, 5, 7, 5]

In [89]:
lst3 = a
lst4 = a.copy()
lst3, lst4

([1, 3, 5, 7, 5], [1, 3, 5, 7, 5])

In [90]:
lst3.append(10)
lst3, lst4

([1, 3, 5, 7, 5, 10], [1, 3, 5, 7, 5])

## immutable

In [82]:
b = 3
a = b
a = 2
a

2

In [83]:
b

3

#### 변수에 값을 입력할 때, 값을 입력하는 게 있고 주소를 입력하는 게 있다.

In [92]:
a = 1
b = [3,4,5]
c = b

In [97]:
id(b) == id(c)

True

In [1]:
lst = [1,2,3,[2,3,4]]

In [2]:
lst

[1, 2, 3, [2, 3, 4]]

## 3. Set

In [4]:
set1 = {1,2,3,1}
set1

{1, 2, 3}

In [6]:
set2 = {3,4,5}

In [8]:
set3 = set1.union(set2)

## 4. Dictionary

In [14]:
dict1 = {"key": "value"}

In [17]:
phone_book = {'jy': '010-0000-0001',
              'ch': '010-0000-0002'}

In [19]:
phone_book['jy']

'010-0000-0001'

In [20]:
print(dir(dict1))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [21]:
phone_book.keys()

dict_keys(['jy', 'ch'])

In [22]:
phone_book.values()

dict_values(['010-0000-0001', '010-0000-0002'])

[문제4] 딕셔너리 만들기

다음 표를 딕셔너리로 만드시오.

<table>
<tr>
    <td>항목</td>
    <td>값</td>
</tr>
name	홍길동
birth	1128
age	30
</table>

In [41]:
dict1 = {
    "name": 'hong',
    "birth": '1128',
    "age":'24',
}

In [32]:
dict1

{'name': 'hong', 'birth': '', 'age': ''}

In [33]:
dict1['name'] = 'choi'

In [35]:
dict1['address'] = ""

[문제5] 딕셔너리 오류

다음과 같은 딕셔너리 a가 있다.

a = dict()

다음 중 오류가 발생하는 경우는 어떤 경우인가? 그리고 그 이유를 설명하시오.

- a['name'] = 'python'
- a[('a',)] = 'python'
- a[[1]] = 'python'
- a[250] = 'python'

In [39]:
a = (1,)

In [ ]:
phonebook = {'choi': {
    
             },
             'jay':{
                 
             }}