# 1. 조건문

In [2]:
a = 1
b = 2
b += a # b = b + a
# a++, ++a 존재하지 않는다.

### if, elif, else

In [4]:
a = 3

if a < 4:
    print("Right")

Right

In [6]:
a = 5

if a < 4:
    print("1")
elif a < 6:
    print("2")

2

In [9]:
a = 7

if a < 4: # > >= < <= == !=
    print("1")
elif a < 6:
    print("2")
else:
    print("3")

3

### if in not in

In [10]:
lst = ['hello', 'hi', 'home']

In [17]:
if 'home' in lst and 'ho' in lst: # and or not
    print(True)
else:
    print(False)

False

## 2. 반복문

In [18]:
# for while

In [19]:
%whos

Variable   Type    Data/Info
----------------------------
a          int     7
b          int     3
lst        list    n=3

### 기본 꼴

In [26]:
for i in range(1,10,2): # start stop step
    print(i)

1
3
5
7
9

# 1. List

### 인덱스

In [28]:
lst *= 3

In [32]:
for i in range(len(lst)):
    if i % 2 == 0:
        print(i, lst[i])

0 hello
2 home
4 hi
6 hello
8 home

### 값

In [37]:
count = 0
for element in lst:
    if count % 2  == 0:
        print(element)
    count += 1

hello

### Enumerate

In [38]:
for i, element in enumerate(lst):
    print(i, element)

0 hello
1 hi
2 home
3 hello
4 hi
5 home
6 hello
7 hi
8 home

In [47]:
lst = (1,2,3)
for i in range(len(lst)):
    print(i)
    
for value in lst:
    print(value)
    
for i, value in enumerate(lst):
    print(i, value)

0
1
2
1
2
3
0 1
1 2
2 3

## 2. Dictionary

In [48]:
dict1 = {'name': 'hong', 'phone': '0108888888'}

In [49]:
dict1.keys(), dict1.values(), dict1.items()

(dict_keys(['name', 'phone']),
 dict_values(['hong', '0108888888']),
 dict_items([('name', 'hong'), ('phone', '0108888888')]))

### For 문

In [50]:
for key in dict1.keys():
    print(key)

name
phone

In [52]:
for value in dict1.values():
    print(value)

hong
0108888888

In [54]:
for key, value in dict1.items():
    print(key, value)
    
    if key == 'name':
        break # break 끝

name hong
phone 0108888888

### Break, Continue, Pass

In [55]:
new_lst = list(range(10))
new_lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [57]:
for i, value in enumerate(new_lst):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [58]:
for i, value in enumerate(new_lst):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [59]:
for i, value in enumerate(new_lst):
    if i == 5:
        pass
    print(i)

0
1
2
3
4
5
6
7
8
9

[문제1] 1부터 100까지 출력

1부터 100까지의 숫자를 for문을 이용하여 출력하시오.

In [61]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10


[문제2] 학급의 평균 점수

for문을 이용하여 A 학급의 평균 점수를 구해 보자.

A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

In [71]:
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
enum = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [78]:
for index, score in enumerate(A):
    print(index, score)

0 70
1 60
2 55
3 75
4 95
5 90
6 80
7 80
8 85
9 100

In [79]:
class_sum = 0

for i, score in enumerate(A):
    class_sum = class_sum + score
    # class_sum += score

class_mean = class_sum / len(A)
class_mean

79.0


[문제3] 리스트 내포

num = [1,2,3,4,5,6,7,8,9,10]

리스트 중에서 홀수에만 2를 곱하여 새로운 리스트에 저장하는 다음과 같은 코드가 있다.

In [89]:
num_list = [1,2,3,4,5,6,7,8,9,10]
new_lst = []

for number in num_list:
    if number % 2 == 1:
        new_lst.append(number * 2)
new_lst

[2, 6, 10, 14, 18]

In [90]:
[2*number for number in num_list if number % 2 == 1]

[2, 6, 10, 14, 18]

## 3. while

In [97]:
i = 0

while True:
    i += 1
    print(i)
    
    if i == 100:
        break

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100